NOTE.md

.idea
pkg.iml
.DS_Store
tmp/
.gitignore

# yum rpm
yum/infra/x86_64/*.rpm
yum/infra/aarch64/*.rpm

yum/pgsql/el7.x86_64/*.rpm
yum/pgsql/el8.x86_64/*.rpm
yum/pgsql/el9.x86_64/*.rpm
yum/pgsty/el7.x86_64/*.rpm
yum/pgsty/el8.x86_64/*.rpm
yum/pgsty/el9.x86_64/*.rpm
yum/mssql/el7.x86_64/*.rpm
yum/mssql/el8.x86_64/*.rpm
yum/mssql/el9.x86_64/*.rpm

yum/pgsty/el7.aarch64/*.rpm
yum/pgsty/el8.aarch64/*.rpm
yum/pgsty/el9.aarch64/*.rpm
yum/pgsty/el7.x86_64/debug/*.rpm
yum/pgsty/el8.x86_64/debug/*.rpm
yum/pgsty/el9.x86_64/debug/*.rpm
yum/pgsty/el7.aarch64/debug/*.rpm
yum/pgsty/el8.aarch64/debug/*.rpm
yum/pgsty/el9.aarch64/debug/*.rpm


yum/infra/x86_64/repodata/
yum/infra/aarch64/repodata/
yum/pgsql/el7.x86_64/repodata/
yum/pgsql/el8.x86_64/repodata/
yum/pgsql/el9.x86_64/repodata/
yum/pgsty/el7.x86_64/repodata/
yum/pgsty/el8.x86_64/repodata/
yum/pgsty/el9.x86_64/repodata/
yum/pgsty/el7.x86_64/debug/repodata/
yum/pgsty/el8.x86_64/debug/repodata/
yum/pgsty/el9.x86_64/debug/repodata/
yum/pgsty/el7.aarch64/debug/repodata/
yum/pgsty/el8.aarch64/debug/repodata/
yum/pgsty/el9.aarch64/debug/repodata/
yum/ivory
yum/polar
yum/mssql

apt/stash
apt/infra/stash/
apt/pgsql/bookworm/stash/
apt/pgsql/bullseye/stash/
apt/pgsql/focal/stash/
apt/pgsql/jammy/stash/
apt/pgsql/noble/stash/

apt/pgsty/bookworm/stash/
apt/pgsty/bullseye/stash/
apt/pgsty/focal/stash/
apt/pgsty/jammy/stash/
apt/pgsty/noble/stash/

apt/polar/bookworm/stash/
apt/polar/bullseye/stash/
apt/polar/focal/stash/
apt/polar/jammy/stash/
apt/polar/noble/stash/

pool/
apt/infra/pool/
apt/pgsql/bookworm/pool/
apt/pgsql/bullseye/pool/
apt/pgsql/focal/pool/
apt/pgsql/jammy/pool/
apt/pgsql/noble/pool/
apt/pgsty/bookworm/pool/
apt/pgsty/bullseye/pool/
apt/pgsty/focal/pool/
apt/pgsty/jammy/pool/
apt/pgsty/noble/pool/

apt/infra/db/
apt/pgsql/bookworm/db/
apt/pgsql/bullseye/db/
apt/pgsql/focal/db/
apt/pgsql/jammy/db/
apt/pgsql/noble/db/
apt/pgsty/bookworm/db/
apt/pgsty/bullseye/db/
apt/pgsty/focal/db/
apt/pgsty/jammy/db/
apt/pgsty/noble/db/
apt/polar/focal/db/
apt/polar/jammy/db/
apt/polar/noble/db/


img/
etc/
pro/