.idea
pkg.iml
.DS_Store
tmp/

# yum rpm
yum/infra/x86_64/*.rpm
yum/infra/aarch64/*.rpm

yum/pgsql/el7.x86_64/*.rpm
yum/pgsql/el8.x86_64/*.rpm
yum/pgsql/el9.x86_64/*.rpm

yum/infra/x86_64/repodata/
yum/infra/aarch64/repodata/
yum/pgsql/el7.x86_64/repodata/
yum/pgsql/el8.x86_64/repodata/
yum/pgsql/el9.x86_64/repodata/

apt/stash
apt/infra/pool/
apt/pgsql/pool/
